body {
    background-color: #161616;
}

.bg-black {
    background-color: #000000;
}

.text-false {
    color: #000000;
}

.text-date {
    color: #686868;
}

.card-effect:hover {
    border: 1px solid #ffffff;
    /* cursor: pointer; */
}

.fsize {
    font-size: 0.6rem;
}